# Data Analysis using Python and SQL

Data Analysis:
Process of inspecting, cleaning, transforming, and modeling data to discover useful information, draw conclusions, to make or support decision-making.

Six steps in Data Analysis

1. Ask      : Data Collection

2. Prepare  : Data Cleaning (Data in tabular form)                                  # Python (Pandas)

3. Process  : Write program/codes to discover insightful information from the data  # SQL

4. Analyse  : Get insightful information written at once for making better visuals  # SQL, Python 

5. Share    : Making Visuals to easily understand the information/patterns etc.     # PowerBI, Tableau, Python (Matplotlib, Ploty)

6. Act      : Make decision based on data

what is ETL

ETL : Extract, Transform, Load (commonly used word in Data Analysis)

Prepare --> Extract : Data extraction from sources

Process --> Transform : Data Cleaning, Transformation, Manipulation

Analyse --> Load: Data is loaded into a system or used for analysis.

# 1. ASK and PREPARE

DataBase websites like : Kaggle, Github, UCI (ML), government websites, etc.

In [56]:
# import libraries required for downloading databases, connecting to database websites
# give paths to the data in this step

# I have 'orders.csv' file with me, put it in the same path where my jupyter notebook is present

import pandas as pd
df = pd.read_csv('orders.csv')
print(df.head())

   Order Id  Order Date       Ship Mode    Segment        Country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              City       State  Postal Code Region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  Sub Category       Product Id  cost price  List Price  Quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   Discount Percent
0                 2
1                 3
2                 5
3                 2
4                 5

In [37]:
# handling null values  
# first of all let's find out total unique rows in a column

df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [38]:
# I want to remove 'Not Available', 'unknown' values and make it NaN
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])

In [ ]:
df.columns
# columns renaming eg. 'Order Id --> order_id'
df.rename(columns= {'Order Id' : 'order_id'})
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
print(df.columns)

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [40]:
#  change any particular dtype if reqired 
df.dtypes

order_id             int64
order_date          object
ship_mode           object
segment             object
country             object
city                object
state               object
postal_code          int64
region              object
category            object
sub_category        object
product_id          object
cost_price           int64
list_price           int64
quantity             int64
discount_percent     int64
dtype: object

In [41]:
# changing datetime dtpype into respective format
df['order_date'] = pd.to_datetime(df['order_date'], format='%Y-%m-%d')
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
dtype: object

In [42]:
# DataFrame --> Pandas

Now I want to calculate some important things from available data which will be useful for this project e.g. Selling Price, Profit, etc.

In [43]:
# calculating discount 
df['discount'] = df['list_price']*df['discount_percent']*0.01

In [44]:
# calculating selling price
df['selling_price'] = df['list_price']-df['discount']

In [45]:
# calculating profit 
df['profit'] = df['selling_price'] - df['cost_price']

In [46]:
print(df.head())

   order_id order_date       ship_mode    segment        country  \
0         1 2023-03-01    Second Class   Consumer  United States
1         2 2023-08-15    Second Class   Consumer  United States
2         3 2023-01-10    Second Class  Corporate  United States
3         4 2022-06-18  Standard Class   Consumer  United States
4         5 2022-07-13  Standard Class   Consumer  United States

              city       state  postal_code region         category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  sub_category       product_id  cost_price  list_price  quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   discount_percent  discount  selling_price  profit
0                 2       5.2          254.8    14.8
1                 3      21.9          708.1   108.1
2                 5       0.5            9.5    -0.5
3                 2      19.2          940.8   160.8
4                 5       1.0           19.0    -1.0

In [47]:
import sqlalchemy as sal
engine = sal.create_engine('mysql+mysqlconnector://root:Vishal%402003@localhost:3306/project_db')

In [49]:
df.to_sql('project_db', con=engine, index=False, if_exists='replace') # if_exists='append', if exist ='replace'

9994

In [55]:
# import mysql.connector
# 
# conn = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password= " "  # Replace with your MySQL root password
# )
# 
# if conn.is_connected():
#     print("Successfully connected to MySQL")
# else:
#     print("Failed to connect.")

# 2. PROCESS

Done in SQL

I have 'queries.txt' file, in which I have mentioned what queries I have to run for furthe processing to get insightful information.

There are 5 questions in 'queries.txt' and I have written 5 different queries on that 5 question : 

1. 'query1.sql' : Find top 10 highest revenue generating products
2. 'query2.sql' : Find top 5 highest selling products in each region
3. 'query3.sql' : Find month over month growth comparison for 2022
4. 'query4.sql' : For each category which month has highest sales
5. 'query5.sql' : Which subcategory has the highest growth by profit in 2023 as compared to 2022

# 3. ANALYSE, SHARE and ACT

In analyse part, we have to make visuals, graphs, charts so that we can better analyse our insightful informations.

So, we will me making visual charts using PowerBI

We can share those PowerBI reports with our organisation so that they can take action based on the analysis